/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



body {
  font-family: 'Poppins', sans-serif;
}
section {
  margin-bottom: 120px;
}
/* carousel section */
h1, h2, button, p {
  letter-spacing: 1px;
}
p {
  font-weight: 300;
}
.carousel-item > img {
  min-height: 380px;
  max-height: 700px;
  object-fit: cover;
  filter: brightness(40%);
}

.heading-text > h1 , p{
  max-width: 650px;
}
/* .course-card-section {
  column-gap: 5px;
} */
.course-card img{
  width: 100%;
  object-fit: cover;
}
.img-side {
  aspect-ratio: 1;
  max-height: 235px;
  max-width: 100%;
}

.accordion {
  max-width: 872px;
}
.accordion-button.collapsed {
  border: 1px solid lightgrey;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}