/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* variable declaration */
:root {
  --tech-blue: #289BDE;
}

/* common styles */
body {
  font-family: 'Poppins', sans-serif;
}
section {
  margin-bottom: 120px;
}

h1, h2, h5, button, p {
  letter-spacing: 1px;
}
p {
  font-weight: 300;
}
.heading-text > h1 ,
.heading-text > p{
  max-width: 650px;
}

/* utility classes */
.bg-tech-blue {
  background-color: var(--tech-blue);
}

/* carousel section */
.carousel-item > img {
  min-height: 380px;
  max-height: 700px;
  object-fit: cover;
  filter: brightness(40%);
}

/* course section */
.course-img {
  max-height: 250px;
}
.course-img img{
  width: 100%;
  object-fit: cover;
}

/* explore learning */
.e-learning-img-side > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

/* faq section */
.accordion {
  max-width: 872px;
}
.accordion-button.collapsed {
  border: 1px solid lightgrey;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}